# Database Settings
DB_NAME=DB
DB_USER=USER
DB_PASSWORD=SECURE_DB_PASSWORD

# JWT Settings
JWT_SECRET=SECRET_KEY_AT_LEAST_32_CHARACRETS
JWT_ISSUER=MYAPP
JWT_AUDIENCE=MYAPPUSERS

# Minio Settings
MINIO_ROOT_USER=MINIOADMIN
MINIO_ROOT_PASSWORD=SECURE_MINIO_PASSWORD
MINIO_BUCKET=USERDATA